{# app/Resources/views/T5b/T5b_id_person.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}T5b Visualizacion detallada de la persona por id{% endblock %}</title>
       	{% block stylesheets %}
       	    {# el siguiente link es para darle a la salida formatos css más bonitos #}
       		<link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
    </head>
    <body>
        {% block body %}
           <h3>La persona seleccionada es:</h3>
           <p>         
           <strong>Identificador:&nbsp</strong>{{ identificador }}<br>
           <strong>Nombre:&nbsp</strong>{{ nombre }}<br>
           <strong>Edad:&nbsp</strong>{{ edad }}<br>
           <strong>Fecha de nacimiento:&nbsp</strong>{{ fecha_nacimiento|date("m/d/Y") }}<br>
           <strong>Altura:&nbsp</strong>{{ altura }}<br>
           <strong>Email:&nbsp</strong>{{ email }}<br>
           <strong>Telefono:&nbsp</strong>{{ telefono }}<br>
           <strong>Genero:&nbsp</strong>{{ sexo }}<br>
           <strong>Descendientes:&nbsp</strong>{{ descendientes }}<br>
           <strong>Vehiculo propio:&nbsp</strong>{{ vehiculo }}<br>
           <strong>Lenguage preferido:&nbsp</strong>{{ lenguage }}<br>
           <strong>Nivel de ingles:&nbsp</strong>{{ nivel_ingles }}<br>
           <strong>Web Personal:&nbsp</strong>{{ web }}<br>
           <strong>Numero Tarjeta bancaria:&nbsp</strong>{{ targeta }}<br>
           <strong>IBAN:&nbsp</strong>{{ iban }}<br>
           </p>
		{% endblock %}	
    </body>    
</html>