{# app/Resources/views/T5b/T5b_id_person.html.twig #}
    
        {% extends '::base.html.twig' %}
        
        {% trans_default_domain 'AppBundle' %}
        
        {% block title %} {{ 'person.list.headerSingle' | trans }} {% endblock %}
        
        
        {% block content %}
           <h3>{{ 'person.list.selected' | trans }}</h3>
           <p>         
           <strong>Id:&nbsp</strong>{{ identificador }}<br>
           <strong>{{ 'person.name' | trans }}:&nbsp</strong>{{ nombre }}<br>
           <strong>{{ 'person.age' | trans }}:&nbsp</strong>{{ edad }}<br>
           <strong>{{ 'person.birthDate' | trans }}:&nbsp</strong>{{ fecha_nacimiento|date("m/d/Y") }}<br>
           <strong>{{ 'person.height' | trans }}:&nbsp</strong>{{ altura }}<br>
           <strong>{{ 'person.email' | trans }}:&nbsp</strong>{{ email }}<br>
           <strong>{{ 'person.phone' | trans }}:&nbsp</strong>{{ telefono }}<br>
           <strong>{{ 'person.gender' | trans }}:&nbsp</strong>{{ sexo }}<br>
           <strong>{{ 'person.descends' | trans }}:&nbsp</strong>{{ descendientes }}<br>
           <strong>{{ 'person.vehicle' | trans }}:&nbsp</strong>{{ vehiculo }}<br>
           <strong>{{ 'person.preferredLanguaje' | trans }}:&nbsp</strong>{{ lenguage }}<br>
           <strong>{{ 'person.englishLevel' | trans }}:&nbsp</strong>{{ nivel_ingles }}<br>
           <strong>{{ 'person.personalWebsite' | trans }}:&nbsp</strong>{{ web }}<br>
           <strong>{{ 'person.cardNumber' | trans }}:&nbsp</strong>{{ targeta }}<br>
           <strong>{{ 'person.IBAN' | trans }}:&nbsp</strong>{{ iban }}<br>
           </p>
		{% endblock %}	
