{# app/Resources/views/T5b/T5b_all_persons.html.twig #}     
        {% extends '::base.html.twig' %}
        {% trans_default_domain 'AppBundle' %}
        
        {% block title %} {{ 'person.list.header' | trans }} {% endblock %}
        
        {% block content %}
           <h3> {{ 'person.list.header' | trans }} </h3>
           <hr>
           <table class="table table-stripped">
             <tr>
               <th>Id</th>
               <th>{{ 'person.name' | trans }}</th>
               <th>{{ 'person.age' | trans }}</th>
               <th>{{ 'person.email' | trans }}</th>
               <th>{{ 'person.phone' | trans }}</th>
               <th>{{ 'person.personalWebSite' | trans }}</th>
               <th>{{ 'person.list.delete' | trans }}</th>
               <th>{{ 'person.list.detail' | trans }}</th>
              </tr>
              {% for persona in listado_personas %}
              <tr>
                 <td>{{ persona.getId() }}</td>
                 <td>{{ persona.getName() }}</td> 
                 <td>{{ persona.getAge() }}</td>
                 <td>{{ persona.getEmail() }}</td>
                 <td>{{ persona.getPhone() }}</td>
                 <td>{{ persona.getpersonalWebSite() }}</td>
                 <td><a href="{{ path('persona_borraById', {'id':persona.id}) }}"> <i class="fa fa-trash"></i> </a></td> 
                 <td><a href="{{ path('persona_muestraById', {'id':persona.id}) }}"> <i class="fa fa-book"></i></a></td> 
              </tr>
              {% endfor %}
              <hr>
		{% endblock %}