{# app/Resources/views/T5b/T5b_id.html.twig #}

        {% extends '::base.html.twig' %}
        
        {% trans_default_domain 'AppBundle' %}
        
        {% block title %} {{ 'product.list.headerById' | trans }} {% endblock %}
    
        {% block content %}
        
           <h3>{{ 'product.list.headById' | trans }}</h3>
           <p>
           {{ 'product.Id' | trans }}:{{ identificador }}<br>
           {{ 'product.name' | trans }}:{{ nombre }}<br>
           {{ 'product.price' | trans }}:{{ precio }}<br>
           {{ 'product.description' | trans }}:{{ descripcion }}<br>
           </p>
		{% endblock %}	
