{# app/Resources/views/T5b/T5b_all_cat.html.twig #}
        {% extends '::base.html.twig' %}
        {% trans_default_domain 'AppBundle' %}
        
        {% block title %} {{ 'category.list.header' | trans }} {% endblock %}

        {% block content %}
           <h3>{{ 'category.list.header' | trans }}</h3>
           <hr>
           <table class="table table-stripped">
             <tr>
               <th>Id</th>
               <th>{{ 'category.name' | trans }}</th>
               {% if is_granted('ROLE_APP_ADMIN') %}
	                 <th><i class="fa fa-trash"></i></th>
               {% endif %} 
              </tr>
              {% for cat in listado_categorias %}
              <tr>
                 <td>{{ cat.getId() }}</td>
                 <td>{{ cat.getName() }}</td>
                 {# Condiciono el enlace al borrado al ROLE_APP_ADMIN #}
                 {% if is_granted('ROLE_APP_ADMIN') %} 
	                 <td><a href="{{ path('cat_borra', {'id':cat.id}) }}"><i class="fa fa-trash"></i></a></td>
                 {% endif %} 
              </tr>
              {% endfor %}
              <hr>
		{% endblock %}	