{# app/Resources/views/T5b/T5b_all.html.twig #}
        {% extends '::base.html.twig' %}
        {% trans_default_domain 'AppBundle' %}
        
        {% block title %} {{ 'product.list.header' | trans }} {% endblock %}
   
        {% block content %}
           <h3> {{ 'product.list.header' | trans }} </h3>
           <hr>
           <table class="table table-stripped">
             <tr>
               <th>Id</th>
               <th>{{ 'product.name' | trans }}</th>
               <th>{{ 'product.price' | trans }}</th>
               <th>{{ 'product.descripcion' | trans }}</th>
               <th>{{ 'product.category' | trans }}</th>
               {% if is_granted('ROLE_APP_ADMIN') %}
	                 <th><i class="fa fa-trash"></i></th>
               {% endif %}   
             </tr>
              {% for prod in listado_productos %}
              <tr>
                 <td>{{ prod.id }}</td>        {# puedo hacerlo así gracias a la fnción __toString, aunque siendo purista  #}
                 <td>{{ prod.name }}</td>      {# y tb estando ok se debe hacer con los get, aunque esto rompe la independencia #}
                 <td>{{ prod.price }}</td>     {# de la parte del posible equipo de desarrollo de la parte front de los de la lógica #}
                 <td>{{ prod.getDescription() }}</td>
                 <td>{{ prod.category }}</td></td>
                 {% if is_granted('ROLE_APP_ADMIN') %}
	                 <td>   
	                    <a href="{{ path('reg_borraById', {'id':prod.id}) }}"> <i class="fa fa-trash"></i> </a>        
	                 </td>
                 {% endif %}    
              </tr>
              {% endfor %}
              <hr>
		{% endblock %}	
